$-color: #039dff;
$white: #fff;
$bg-color: #f0e9d6;
$bg-dark: #efe6cb;
$bg-light: #fff7e2;
$main-color: rgb(198, 124, 41);
$color-dark: rgb(156, 98, 32);
$color-light: rgba(230, 150, 58, 0.834);