@import 'colors';
@import "animation";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto 40px;
	width: 100px;
	height: 4px;
	background-color: $main-color;
}
.shadow-bg {
	background-color: rgba(25, 15, 0, 0.788);
}
nav {
	text-transform: uppercase;
	transition: background-color 0.8s;
	z-index: 1;
	a,
	i {
		color: $white;
	}
	a:hover {
		color: $main-color;
	}
	.fa-bars,
	.fa-pagelines {
		padding: 10px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.active {
		color: $main-color;
	}
	span {
		color: $main-color;
	}
}
header {
	color: $white;
	.header-img {
		position: relative;
		height: 100vh;
		background-image: url('/img/meadow-small.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}
	.header-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		letter-spacing: 3px;
		padding: 10px;
		text-align: center;
		z-index: 5;
		h1 {
			text-transform: uppercase;
			font-weight: bold;
		}
		span {
			color: rgb(198, 124, 39);
		}
	}
	.header-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(25, 15, 0, 0.552);
		z-index: -10;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		font-size: 40px;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
	}
}
.aboutus {
	i {
		font-size: 38px;
	}
	.aboutus-card-title {
		font-size: 23px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 18px;
	}
	.aboutus-hover {
		margin-top: 30px;
		// transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.aboutus-second {
	color: $white;
	i {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 36px;
	}
	.aboutus-second-card-title {
		margin-top: 50px;
		font-size: 26px;
		text-transform: uppercase;
	}
	.aboutus-second-card-text {
		font-size: 17px;
	}
	.aboutus-second-img {
		position: relative;
		background-image: url('/img/geology-small.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}
	.aboutus-second-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(25, 15, 0, 0.595);
		z-index: -10;
	}
}
.realizations {
	.carousel-item {
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px, 0;
		background-color: rgba(25, 15, 0, 0.775);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.realizations-small {
	.card {
		margin: 15px;
	}
}
.text-below-realizations {
	display: block;
	height: 116px;
	p {
		display: block;
		margin: 0;
		text-align: center;
		letter-spacing: 2px;
		font-size: 25px;
	}
	i {
		padding-left: 8px;
		padding-right: 8px;
		color: rgba(157, 0, 0, 0.632);
	}
}

.prices {
	background-color: $bg-light;
	.prices-container {
		.prices-card {
			background-color: $white;
			padding: 20px;
			margin: 30px;
			box-shadow: 5px 5px 5px grey;
			transition: transform 0.4s;
			h3 {
				font-size: 25px;
				font-weight: bold;
				color: $main-color;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					padding: 8px;
					font-size: 18px;
					span {
						font-weight: bolder;
					}
				}
				.main-li {
					font-size: 20px;
					font-weight: bold;
				}
				.price {
					font-weight: bolder;
				}
			}
			.order-btn {
				width: 150px;
				padding: 3px;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 10px;
				transition: background-color 0.3s;
				text-transform: uppercase;
			}
			.order-btn:hover {
				background-color: $color-light;
			}
		}
		.prices-card:hover {
			transform: scale(1.1);
		}
		.prices-underline {
			margin: 0 auto 10px;
			width: 270px;
			height: 1px;
			background-color: grey;
		}
	}
	.under-text {
		text-align: center;
		margin: 2%;
		.first {
			font-size: 18px;
		}
	}
}
.team {
	position: relative;
	background-image: url('/img/team/digital-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	.team-bg {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(25, 15, 0, 0.595);
		z-index: -10;
	}
	h2 {
		color: $white;
	}
	.card {
		transition: transform 0.4s;
		// height: 500px;
	}
	.card:hover {
		transform: scale(0.9);
	}
    .card-body {
        height: 220px;
    }
	.text-muted {
		display: flex;
		justify-content: space-around;
		i {
			color: $main-color;
		}
	}
	.card-title {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
        font-size: 40px;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        text-transform: uppercase;
    }
    .number {
        font-size: 28px;
    }
}
.contact {
    position: relative;
    background-image: url('/img/trees-small.jpg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
    color: $white;
    .contact-shadow {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(25, 15, 0, 0.722);
		z-index: -10;
	}
    .underline {
        background-color: $main-color;
    }
    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        font-size: 18px;
    }
    i {
        margin: 20px;
        font-size: 30px;
        color: $white;
        transition: color 0.3s;
    }
    i:hover {
        color: $main-color;
    }
}




@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 616px) {
	.text-below-realizations {
		p {
			line-height: 130px;
		}
	}
}
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
}
@media (min-width: 992px) {
	nav {
		height: 82px;
	}
}

@media (min-width: 1200px) {
	header {
		.header-img {
			background-image: url('/img/meadow-big.jpg');
		}
		h1 {
			font-size: 50px;
		}
		p {
			font-size: 20px;
		}
	}
	.aboutus-second {
		.aboutus-second-img {
			background-image: url('/img/geology-big.jpg');
		}
	}
    .team {
        background-image: url('/img/team/digital-big.jpg');
    }
    .contact {
        background-image: url('/img/trees-big.jpg');
    }
}
